.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 10px;
}
.shop-heading {
  font-size: 3rem;
  // text-decoration: underline;
  letter-spacing: 2px;
}
